@import "Board";
@import "SituationPanel";
@import "Controls";
@import "ColorPicker";

.App {
  display: flex;
  flex-direction: column;
  text-align: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  label {
    margin-right: 3px;
  }
}
