.SituationPanel {
  margin-left: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .situation {
    display: flex;
    justify-content: center;
  }
}
